p { 
    color:#5792e6;
    
}

h1 { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.destaque {
    color: red;
}

.italico{
    font-style: italic;
}

#introdução {
    background-color: #e6f7ff;
}